MultiPlayerClient/bin
MultiPlayerServer/bin

MultiPlayerServer/.settings
MultiPlayerServer/.project
MultiPlayerServer/.classpath
MultiPlayerServer/.idea

MultiPlayerClient/.settings
MultiPlayerClient/.project
MultiPlayerClient/.classpath
MultiPlayerClient/.idea

.idea
*.class
*.iml


